# ===== DISCORD BOT =====
DISCORD_TOKEN=
CLIENT_ID=
GUILD_ID=

# ===== CHANNELS =====
TRANSACTION_LOG_CHANNEL_ID=
TICKET_LOG_CHANNEL_ID=
TICKET_CATEGORY_ID=

# Auto list per server
SLOT_LIST_REVV_CHANNEL_ID=
SLOT_LIST_IBO_CHANNEL_ID=

# ===== ROLES =====
MODERATOR_ROLE_ID=
ADMIN_ROLE_ID=

# ===== TICKET =====
TICKET_COOLDOWN=60

# ===== PAYMENT =====
QRIS_DATA=PTPT-PAYMENT
PAYMENT_NAME=PTPT Store

# ===== SLOT MAX PER SERVER =====
MAX_SLOTS_REVV=20
MAX_SLOTS_IBO=20

# ===== DEFAULT HARGA SERVER REVV =====
REVV_DEFAULT_PRICE_6H=5000
REVV_DEFAULT_PRICE_12H=10000
REVV_DEFAULT_PRICE_24H=20000
REVV_DEFAULT_PRICE_36H=30000
REVV_DEFAULT_PRICE_48H=35000
REVV_DEFAULT_PRICE_72H=50000

# ===== DEFAULT HARGA SERVER IBO =====
IBO_DEFAULT_PRICE_6H=5000
IBO_DEFAULT_PRICE_12H=10000
IBO_DEFAULT_PRICE_24H=20000
IBO_DEFAULT_PRICE_36H=30000
IBO_DEFAULT_PRICE_48H=35000
IBO_DEFAULT_PRICE_72H=50000
